<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/home">Dojo Football</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">My Team <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#">Matchup</a>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#">Draft</a>
                    </li>
                    <li class="nav-item">
                    <u><a class="nav-link text-primary" href="/logout">Log Out</a></u>
                    </li>
                  </ul>
                </div>
              </nav>
        <div class="row mt-5">
        <div class="col">
                <div class="col">
                    <table class="table table-bordered text-center table-striped">
                    <thead class="thead-dark">
                        <tr>
                                <th colspan="5" class="border-bottom border-white">Team 1</th>
                        </tr>
                            <tr>
                                <th>Pos</th>
                                <th>Player</th>
                                <th>Team</th>
                                <th>opponent</th>
                                <th>Score</th>
                            </tr>
                    </thead>
                            <tbody>
                                <tr>
                                <td>QB</td>
                                <td><a href="#">FootballPlayer</a></td>
                                <td>GB</td>
                                <td>ATL</td>
                                <td>99</td>
                                </tr>
                                <tr>
                                    <td>RB</td>
                                    <td><a href="#">FootballPlayer</a></td>
                                    <td>GB</td>
                                    <td>ATL</td>
                                    <td>99</td>
                                </tr>
                                <tr>
                                    <td>RB</td>
                                    <td><a href="#">FootballPlayer</a></td>
                                    <td>GB</td>
                                    <td>ATL</td>
                                    <td>99</td>
                                </tr>
                                <tr>
                                    <td>WR</td>
                                    <td><a href="#">FootballPlayer</a></td>
                                    <td>GB</td>
                                    <td>ATL</td>
                                    <td>99</td>
                                </tr>
                                <tr>
                                <td>WR</td>
                                <td><a href="#">FootballPlayer</a></td>
                                <td>GB</td>
                                <td>ATL</td>
                                <td>99</td>
                                </tr>
                                <tr>
                                    <td>WR</td>
                                    <td><a href="#">FootballPlayer</a></td>
                                    <td>GB</td>
                                    <td>ATL</td>
                                    <td>99</td>
                                </tr>
                                <tr>
                                    <td>TE</td>
                                    <td><a href="#">FootballPlayer</a></td>
                                    <td>GB</td>
                                    <td>ATL</td>
                                    <td>99</td>
                                </tr>
                                <tr class="text-left">
                                    <td colspan="5"><span class="font-weight-bold">Total Score:</span> <span class="ml-5 font-weight-bold">11</span></td>
                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        <div class="col">
            <div class="col">
                <table class="table table-bordered text-center table-striped">
                <thead class="thead-dark">
                    <tr>
                            <th class="border-bottom border-white" colspan="5">Team 2</th>
                    </tr>
                    <tr>
                        <th>Pos</th>
                        <th>Player</th>
                        <th>Team</th>
                        <th>opponent</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                        <td>QB</td>
                        <td><a href="#">FootballPlayer</a></td>
                        <td>GB</td>
                        <td>ATL</td>
                        <td>99</td>
                        </tr>
                        <tr>
                            <td>RB</td>
                            <td><a href="#">FootballPlayer</a></td>
                            <td>GB</td>
                            <td>ATL</td>
                            <td>99</td>
                        </tr>
                        <tr>
                            <td>RB</td>
                            <td><a href="#">FootballPlayer</a></td>
                            <td>GB</td>
                            <td>ATL</td>
                            <td>99</td>
                        </tr>
                        <tr>
                            <td>WR</td>
                            <td><a href="#">FootballPlayer</a></td>
                            <td>GB</td>
                            <td>ATL</td>
                            <td>99</td>
                        </tr>
                        <tr>
                        <td>WR</td>
                        <td><a href="#">FootballPlayer</a></td>
                        <td>GB</td>
                        <td>ATL</td>
                        <td>99</td>
                        </tr>
                        <tr>
                            <td>WR</td>
                            <td><a href="#">FootballPlayer</a></td>
                            <td>GB</td>
                            <td>ATL</td>
                            <td>99</td>
                        </tr>
                        <tr>
                            <td>TE</td>
                            <td><a href="#">FootballPlayer</a></td>
                            <td>GB</td>
                            <td>ATL</td>
                            <td>99</td>
                        </tr>
                        <tr class="text-left">
                            <td colspan="5"><span class="font-weight-bold">Total Score:</span> <span class="ml-5 font-weight-bold">11</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</div>
</body>
</html>