<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">Dojo Football</a>
        </nav>
        <a style="margin-right: 10px" class="float-right" href="/">Go Back</a> 
        <form class="form-signin" style="padding: 15px; margin: 0 auto; width: 100%; max-width: 420px;" action="/register" method="POST">
            {% csrf_token %}
            <div class="text-center mb-4">
                <img class="mb-4" src="static/football_app/images/choi2.png" alt="image" width="300" height="200">
                <h1>Dojo Football</h1>
                <p>Welcome! Create an account below and get to playing!</p>
            </div>
            <div class="form-label-group">
                <input style="margin-top: 10px;" class="form-control" type="text" name="first_name" placeholder="First Name">
            </div>
            <div class="form-label-group">
                <input style="margin-top: 10px;" class="form-control" type="text" name="last_name" placeholder="Last Name">
            </div>
            <div class="form-label-group">
                <input style="margin-top: 10px;" class="form-control" type="text" name="username" placeholder="Username">
            </div>
            <div class="form-label-group">
                <input style="margin-top: 10px;" class="form-control" type="email" name="email" placeholder="Email address">
            </div>
            <div class="form-label-group">
                <input style="margin-top: 10px;" class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-label-group">
                <input style="margin-top: 10px;" class="form-control" type="password" name="password_confirmation" placeholder="Password Confirmation">
            </div>
            <div class="form-label-group">
                <input style="margin-top: 10px;" class="form-control" type="text" name="team_name" placeholder="Team Name">
            </div>
            <button style="margin-top: 10px;" class="btn btn-primary btn-lg btn-block" type="submit">Sign Up</button>
    
        </form>
</body>
</html>