<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">Dojo Football</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link" href="/userteamhome">My Team<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Matchup</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/draftpage">Draft</a>
                    </li>
                    <li class="nav-item">
                      <form action="/logout" method="POST">
                        {% csrf_token %}
                            <input class="btn btn-link" type="submit" value="Log Out">
                        </form>
                    </li>
                  </ul>
                </div>
              </nav>

    <div class="jumbotron text-center">
        <h1 class="display-4">Welcome, {{user.first_name}}</h1>
        <p class="lead">This is your main team page. Below is your roster.</p>
    </div>
    <div class="container">
        {% if user.players.exists %}
        <table class="table table-bordered" style="width: 30%; margin: 0px auto;">
            <thead class="thead-dark">
                <tr>
                    <th>Position</th>
                    <th>Players</th>

                </tr>
            </thead>
            <tbody>
                {% for player in user.players.all %}
                <tr>
                    <td class="font-weight-bold">{{player.position}}</td>
                    <td>
                        <form action="/getplayerstats/{{player.id}}/{{week}}" method="POST">
                            {% csrf_token %}
                            <input class="btn btn-link" type="submit" value="{{player.first_name}} {{player.last_name}}">
                        </form>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
        {% endif %}

    </div>
</body>
</html>